body {
    margin: 0;
}
p {
    font-family: Roboto, sans-serif;
    font-size: 23px;
    padding-left: 150px;
}
h1 {
    font-family: Montserrat Alternates, sans-serif;
    font-size: 100px;
    margin:0;
}
h2 {
    font-family: Montserrat, sans-serif;
    font-size: 30px;
}
.center-text {
    text-align: center;
}
.smallheader {
    text-align: left;
    padding-left: 100px;
    font-size: 50px;
}
.smallerheader{
    padding-left:150px;
}
.header{
    background-image: url("Boatman.jpg");
    background-size: contain;
    padding-top: 20px;
}
.toptitle{
    text-align: center;
    font-size: 20px;
    color: white
}
.image{
    position: absolute;
    left: 850px;
    top: 995px;
}
.island{
    position: absolute;
    left: 850px;
    top: 995px;
}
.hand{
    position: absolute;
    left: 850px;
    top: 2370px;
}
.messagebackground{
    background-color: #bae1ff
}
.crashingdawn{
    line-height: 140%;
    
}
.comment1{
    line-height: 0.01;
}
.comment2{
    line-height: 140%;
    color: white;
}
.alone{
    line-height: 140%;
    font-size: 22px;
}
.meet{
    line-height: 140%;
    font-size: 22px;
}
.paragraph{
    text-align: justify;
    padding-right: 120px;
}
.message{
    padding-top: 100px;
    text-align: left;
    padding-left: 100px;
    font-size: 50px;
    color: white 
}
.intro{
    text-align: left;
    padding-left: 100px;
    font-size: 50px;
    color: white 
}
.message1{
    padding-right: 150px;
    text-align: justify;
    line-height: 30px;
}
.analyze{
    padding-right: 150px;
    text-align: justify;
    padding-bottom: 100px;
    line-height: 30px;
}
.subinterpret{
    padding-left: 130px;
    padding-right: 150px;
}
